name: Build

on:
  push:
    paths:
      - "easyrip.py"
      - "easyrip/**"
      - "resources/*.ico"
      - ".github/workflows/*"
    branches: ["main"]
  pull_request:
    paths:
      - "easyrip.py"
      - "easyrip/**"
      - "resources/*.ico"
      - ".github/workflows/*"
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
      - run: pip install -U . && pip install -U nuitka

      - name: Build - nuitka
        run: |
          python -m nuitka --standalone --onefile --assume-yes-for-downloads --plugin-enable=tk-inter --windows-icon-from-ico=resources/ER.ico --output-dir=./easyrip_nuitka_output easyrip.py

      - name: Build - zipapp
        run: |
          python -m compileall -f easyrip
          python -m zipapp easyrip --output easyrip.pyz --compress

      - name: Create 7z archive
        run: |
          7z a -t7z -m0=LZMA2 -mx=9 easyrip.7z ./easyrip_nuitka_output/*.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: easyrip_x64
          path: |
            ./easyrip.7z
            ./easyrip.pyz
